


*{
    padding: 0px;
    margin: 0px;
}


.btn {

    font-weight: bold;
    font-size: large ; 
}
.register_btn{
    background-color: #42b72a;
    color : white;

}

.register_btn:hover{
    background-color: #2b8a19;
    color : white;
}

.name_input{
    display:  flex;
    flex-direction: row;
}
.name_input > input {
    width: 50%;
    height: 2.2rem;
    margin: 2px 4px;
}
