body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: lightgray; /* fallback color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.error{
    color: #f12b1d;
    list-style-type: none;
    font-size: 15px;    
}

.warning{
    color: #f1dd25;
    list-style-type: none;
    font-size: 12px;  
}
