.star ,.show_star{
    font-size: 25px;
    cursor: pointer;
  
  }
   
  .one {
    color: rgb(255, 0, 0);
  }
   
  .two {
    color: rgb(255, 106, 0);
  }
   
  .three {
    color: rgb(251, 255, 120);
  }
   
  .four {
    color: rgb(24, 159, 14);
  }
   
  .five {
    color: rgb(24, 159, 14);
  }

  .error{
    color: #f12b1d;
    list-style-type: none;
    font-size: 12px;    
}

.user_review{
  padding: 5px 5px;
  margin: 5px;
}
.review_card{
  border: 1px solid gray;
  border-radius: 25px;
  margin: 5px 10px ;
  background-color: #C5A992;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  
}

/* #account {
  color: #6F6F6F;
  padding: 4.5px 5px;
  font-weight: normal;
  margin-top: -3px;
  margin-right: 5px;
  font-size: large;
  border: 1px solid #6F6F6F;
}

#logout {
  margin-right: 50px;
  color: #6F6F6F;
  padding: 5px 15px;
  font-size: large;
  border: 1px solid #6F6F6F;
}
#logout {
  background-color: #C5A992;
} */

