.container {
  width: 600px;
  margin: 0 auto; /* Center the container horizontally */
}

h5.card-title,.mypost {
  align-items: center;
  padding: 10px 10px 5px 10px;
  background-color: white;
}

.card {
  /* margin-top: 30px; */
 background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  color: rgb(64, 59, 59);
  border-radius: 10px;
  width: 700px; /* Set width to 50% */
  margin-right: 10px; /* Add margin-right as needed */
  margin-top: -10px;
  margin-bottom: -5px;
  box-sizing: border-box; /* Include padding and border in width */
  padding: 20px; /* Adjust padding as needed */
}



.card.border-dark {
  margin-top: -40px;
}

.card-bg-custom {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -15px;
  text-align: center;
  padding-top: 20px;
  font-size: 1.3rem;
  height: 100%;
  color: rgb(64, 59, 59);
  border-radius: 10px;
  width: 650px; /* Set width to 50% */
  margin-right: 10px; /* Add margin-right as needed */
  box-sizing: border-box; /* Include padding and border in width */
}

.mybtn,
.btn {
  background-color: #c5a992;
  font: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  font-size: 1.1rem;
  height: 45px;
}

.mybtn:hover,
.btn:hover {
  background-color: #A68D79;
  color: black;
}

.custom-textarea {
  width: calc(100% - 20px); /* Subtract padding */
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 1.2rem;
}

.page-bottom-margin {
  height: 20px; /* Adjust the height as needed */
}

body {
  background: #f3f2ec;
  margin: 0;
}

.speech-bubble {
  position: relative;
  padding: 50px;
  margin: 1em 20px;
  width: 90%;
  height: 180px;
  text-align: center;
  color: black;
  background: white;
  border-radius: 30px;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  z-index:-1;
  left: -22px;
  top: 0;
  width: 40px;
  border-bottom: 35px solid white;
  border-top-right-radius: 25px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  z-index:-1;
  left: -28px;
  top: -3px;
  height: 38px;
  width: 28px;
  background: lightgray;
  border-top-right-radius: 20px;
}