<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static '/css/vendor.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style1.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/star.css'%}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <!-- script -->
        <script src="js/modernizr.js"></script>
    </head>
    
    <body>
        <div id="header-wrap">
            <div class="top-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="right-element">
                                {% if not 'userID' in request.session %}
                                <a href="/login" class="user-account for-buy"><i
                                        class="icon icon-user"></i><span>Account</span></a>
                                {% else %}
                                <a id="account" href="/user/{{user.id}}">Welcome, {{user.first_name}}</a>
                                <a id="logout" href="/logout" class="logoutbtn mx-2">logout</a>
                                {% endif %}
                                <a href="/user/{{user.id}}" class="cart for-buy"><i class="fa-solid fa-cart-plus"></i><span> Cart:({{total}} $)</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <header id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="main-logo">
                                <a href="/"><img src="{% static 'images/main-logo.png' %}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <nav id="navbar">
                                <div class="main-menu stellarnav">
                                    <ul class="menu-list">
                                        <li class="menu-item active"><a href="/main" data-effect="Home">
                                                <i class="fa-solid fa-house"></i> Home</a></li>
                                        <li class="menu-item has-sub">
                                            <a href="/category" class="nav-link" data-effect="Pages">
                                                <i class="fa-solid fa-table-list"></i> Categories</a>
                                            <ul>
                                                <li class="active"><a href="index.html">1</a></li>
                                                <li><a href="about.html">2</a></li>
                                                <li><a href="styles.html">3</a></li>
                                                <li><a href="blog.html">4</a></li>
                                                <li><a href="single-post.html">5</a></li>
                                                <li><a href="shop.html">6</a></li>
                                                <li><a href="single-product.html">7</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="/wall" class="nav-link" data-effect="Articles">
                                            <i class="fa-solid fa-comments"></i> Book Club</a></li>
                                        <li class="menu-item"><a href="/contact" class="nav-link" data-effect="About">
                                            <i class="fa-regular fa-address-book"></i> About & Contact Us</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

    <section id="billboard">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <i class="icon icon-arrow-left"></i>
                    </button>

                    <div class="main-slider pattern-overlay">
                        <div class="slider-item">
                            <div class="banner-content">
                                <h2 class="banner-title">{{book.title}}</h2>
                                <h4>By: {{book.author.first_name}} {{book.author.last_name}}</h4>
                                <p>{{book.description}}</p>
                                <h2>Price: {{book.price}} $</h2>
                                {% if user in book.liked_by_users.all %}
                                <a href="/removeFav/{{book.id}}"><button id="fav-btn"
                                        class="btn  ">UnFavorite</button></a>
                                {%else%}
                                <a href="/addFav/{{book.id}}"><button id="fav-btn" class="btn  ">Add To
                                        Favorite</button></a>

                                {%endif%}

                                {% if book in order.books.all %}
                                <a href="/cart/{{book.id}}/delete/2"><button class="btn add-to-cart">Delete From
                                        Cart</button></a>


                                {% else %}
                                <a href="/cart/{{book.id}}/add/2"><button class="btn add-to-cart">Add To
                                        Cart</button></a>
                                {%endif%}
                           
                            </div><!--banner-content-->

                            <img id="details-img"src="{{book.url_image}}" alt="banner" class="banner-image">
                        </div>
                        <!-- review section -->
                        <section class="mt-5" id="review-section">
                            <hr>

                            <div class="container1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 style="text-align: center;" class="mb-4">Reviews:</h3>
                                        <p id="review_error" style="margin-left: 370px;"></p>
                                        {% if messages %}
                                        <ul  class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message}}
                                                </li>
                                                {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <form action="/create_review/{{book.id}}" method="post">
                                            {% csrf_token %}
                                            <div class="card">
                                                <input type="hidden" name="review_level" id="review_level" value="0">
                                                <span onclick="gfg(1)" style="margin-left: 400px;" class="star">★
                                                </span>
                                                <span onclick="gfg(2)" class="star">★
                                                </span>
                                                <span onclick="gfg(3)" class="star">★
                                                </span>
                                                <span onclick="gfg(4)" class="star">★
                                                </span>
                                                <span onclick="gfg(5)" class="star">★
                                                </span>
                                                <!-- <h3 id="output">
                                                Rating is: 0/5
                                                </h3> -->
                                            </div>

                                            <div class="form-group">
                                                <textarea style="margin-left: 250px; height: 200px;" id="review_message" name="review_message" class="texts"
                                                    class="form-control" placeholder="Write your review here..."
                                                    rows="3"></textarea>
                                            </div>
                                            <!-- <button type="submit" class="btn btn-primary">Submit Review</button> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {%if 'userID' in request.session %}
                            <button style="margin-left: 400px;" id="load-items" onclick="postData({{book.id}},{{user.id}})">Submit Review</button>
                            <!-- <button id="load-items" onclick="get_ajax({{book.id}})">Load Items</button> -->
                            {%else%}
                            <a href="/login"> <button>Login To Make Review</button></a>
                            {% endif %}
                            <h3 style="margin-left: 400px;">Latest Reviews</h3>
                            <div id="reviews-container">
                                {% for review in reviews%}
                                <div style="width: 600px; margin-left: 200px;" class="row review_row">
                                    <div class="col-md-12 mt-5 reviews review_card">
                                        <h4 class="user_review"> {{review.user.first_name}} {{review.user.last_name}}
                                        </h4>
                                        <div class=" myshow" value="{{review.review_level}}">
                                            <span class="show_star ">★
                                            </span>
                                            <span class="show_star">★
                                            </span>
                                            <span class="show_star">★
                                            </span>
                                            <span class="show_star">★
                                            </span>
                                            <span class="show_star">★
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <p class="user_review">{{review.message}}</p>
                                            <p class="user_review">{{review.updated_at}}</p>
                                        </div>

                                        <!-- <button onclick='deleteReview({{review.id}})' type="submit" class="btn  delete_review ">delete</button> -->

                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <ul id="items-list"></ul>

                        </section>
                        <hr>
                        <footer id="footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="footer-item">
                                            <div class="company-brand">
                                                <a href="/"><img src="{% static 'images/main-logo.png'%}" alt="logo" id="footer-logo"
                                                        class="footer-logo"></a>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-md-2"></div>
                
                                    <div class="col-md-2">
                                        <div class="footer-menu">
                                            <h5 class="footer-title">Discover</h5>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="/main">Home</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/category">Books</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/wall">Book Club</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                
                                    <div class="col-md-2">
                                        <div class="footer-menu">
                                            <h5 class="footer-title">My account</h5>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="/login">Sign In</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/user/{{user.id}}">My Cart</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/register">Sign Up</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                
                                    <div class="col-md-2">
                                        <div class="footer-menu">
                                            <h5 class="footer-title">About & Contact Us</h5>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="/contact">About & Contact Us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
    <script src="{%static 'js/reviews.js'%}"></script>
</body>

</html>