<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--  -->
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static '/css/vendor.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style1.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/profile.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- script
		================================================== -->
    <script src="js/modernizr.js"></script>

</head>

<body>
    <div id="header-wrap">
        <div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="right-element">
                            {% if not 'userID' in request.session %}
                            <a href="/login" class="user-account for-buy"><i
                                    class="icon icon-user"></i><span>Account</span></a>
                            {% else %}
                            <a id="account" href="/user/{{user.id}}">Welcome, {{user.first_name}}</a>
                            <a id="logout" href="/logout" class="logoutbtn mx-2">logout</a>
                            <a href="/user/{{user.id}}" class="cart for-buy"><i class="fa-solid fa-cart-plus"></i><span> Cart:({{total}} $)</span></a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="main-logo">
                            <a href="/"><img style="margin-left: -100px;"   src="{% static 'images/image copy.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <nav id="navbar">
                            <div class="main-menu stellarnav">
                                <ul class="menu-list">
                                    <li class="margin-left:0px;" class="menu-item active"><a href="/main" data-effect="Home">
                                            <i  class="fa-solid fa-house"></i> Home</a></li>
                                    <li class="menu-item has-sub">
                                        <a href="/category" class="nav-link" data-effect="Pages">
                                            <i class="fa-solid fa-table-list"></i> Categories</a>
                                    
                                    </li>
                                    <li class="menu-item"><a href="/wall" class="nav-link" data-effect="Articles">
                                        <i class="fa-solid fa-comments"></i> Book Club</a></li>
                                    <li class="menu-item"><a href="/contact" class="nav-link" data-effect="About">
                                        <i class="fa-regular fa-address-book"></i> About & Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12 col-md-12 ">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25">
                                            <img src="{%static 'images/user-profile-icon-free-vector.jpg'%}"
                                                class="img-radius" alt="User-Profile-Image">
                                        </div>
                                        <h6 class="f-w-600">{{user.first_name}} {{user.last_name}}</h6>
                                        <!-- <button id="edit-profile" type="button" class="add-to-cart" ">Edit Profile</button>  -->
                                    </div>
                                </div>

                                <!-- edit profile's form -->
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Edit Information</h6>
                                        {% if messages %}
                                        {% for message in messages %}
                                        <h5 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message}}
                                        </h5>
                                        {% endfor %}
                                        {% endif %}
                                        <form method="post" action="/user/update">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">First Name</p>
                                                    <input type="text" name="first_name" class="form-control"
                                                        value="{{ user.first_name }}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Last Name</p>
                                                    <input type="text" name="last_name" class="form-control"
                                                        value="{{ user.last_name }}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Email</p>
                                                    <input type="email" name="email" class="form-control"
                                                        value="{{ user.email }}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Address</p>
                                                    <input type="text" name="address" class="form-control"
                                                        value="{{ user.address }}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Phone</p>
                                                    <input type="text" name="phone" class="form-control"
                                                        value="{{ user.phone_number }}">
                                                </div>
                                            </div>
                                            <button id="save-btn" type="submit" class="add-to-cart">Save
                                                Changes</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">My Cart</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">item 1</p>
                        <p class="m-b-10 f-w-600">item 2</p>
                        <p class="m-b-10 f-w-600">item 3</p>
                        
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600"></p>
                        <h6 class="text-muted f-w-400"></h6>
                    </div>
                </div>
                <button id="buy-btn" type="button" class="add-to-cart" data-product-tile="add-to-cart">Check Out</button>
                <hr>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Favorited Books</h6>
                <ul>
                    {% for book in user_likes %}
                    <li>{{book.title}} </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600"></p>
                        <p class="m-b-10 f-w-600"></p>
                        <p class="m-b-10 f-w-600"></p>
                        
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600"></p>
                        <h6 class="text-muted f-w-400"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</body>

</html>
</body>

</html>